
@{
    ViewBag.Title = "转帐管理";
}

<div id="toolbar">
    <div class="form-inline" role="form">
        <div class="form-group">
            @*<a class="btn btn-sm btn-primary" href="@Url.Action("Edit")">填写申请</a>*@
        </div>
    </div>
</div>
<div class="container" style="padding-right: 25px;">
    <table id="example" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>申请单号</th>
                <th>经费类型</th>
                <th>标题</th>
                <th>内容</th>
                <th>金额</th>
                <th>附件</th>
                <th>申请日期</th>
                <th>审批状态</th>
                <th>财务处理</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody></tbody>
        <!-- tbody是必须的 -->
    </table>
</div>

@section scripts{

    <script>
        var table;
        var editFlag = false;
        var types = ["预算申请", "报销申请"];
        var StatusList = ["审批驳回", "审批中", "审批通过", "转帐完成"];
        $(function () {
            table = $('#example').bootstrapTable({
                url: '@Url.Action("ApplingData")',
                method: 'post',
                search: true,
                searchAlign: 'right',
                sidePagination: 'client',
                pagination: true,
                checkboxHeader: true,
                toolbar: '#toolbar',
                columns: [
                    {
                        field: 'ID'
                    },
                    {
                        field: 'Type',
                        formatter: function (value, full, index) {
                            //if (!value) return '';
                            var a = parseInt(value);
                            return types[a] || '';
                        }
                    },
                    {
                        field: 'Title'
                    }, {
                        field: 'Content'
                    }, {
                        field: 'Cost',

                    }, {
                        field: 'FileName',//附件
                        formatter: function (value, full, index) {
                            if (!value) return '';
                            var a = '<a target="_blank" href="@(Url.Action("DownLoad", "Proposer"))?fid=' + full.FileId.trim() + '">' + value + '</a>';
                            return a;
                        }
                    }, {
                        field: 'CreateTime',
                        formatter: function (value, full, index) {
                            //后台返回的日期格式为/Date(1552197204000)/
                            //所以在显示的时候需要处理一下

                            //过滤空字符的可能
                            if (!value) return "";

                            var reg = /\d+/g;
                            var _t = value.match(reg)[0];
                            var date = new Date(parseInt(_t));
                            return date.format('yyyy-MM-dd');
                        }
                    }, {
                        field: 'Status',
                        formatter: function (value, full, index) {
                            if (!full.PassDate) {
                                return StatusList[value];
                            }
                            var reg = /\d+/g;
                            var _t = full.PassDate.match(reg)[0];
                            var date = new Date(parseInt(_t));
                            return '审核通过<br/>' + date.format('yyyy-MM-dd');
                        }
                    }, {
                        field: 'FinDate',
                        formatter: function (value, full, index) {
                            if (value) {
                                var reg = /\d+/g;
                                var _t = value.match(reg)[0];
                                var date = new Date(parseInt(_t));
                                var att = "";
                                if (full.FinFileId) {
                                    var a = '<a target="_blank" href="@(Url.Action("DownLoad", "Proposer"))?fid=' + full.FileId.trim() + '">凭证</a>';
                                    att = a + "<br/>";
                                }
                                return '已转帐 ' + att + date.format('yyyy-MM-dd');
                            } else {
                                return '';
                            }
                        }
                    }, {
                        field: 'ID',
                        formatter: function (value, full, index) {
                            //通过与退回按钮
                            var op = [
                                "<a class='btn btn-sm btn-primary' href='@(Url.Action("Remittance"))?id=" + value + "'>转帐</a>"
                            ].join('');

                            //只有表单状态在申请中才显示操作按钮
                            if (full.Status == 2) {
                                return op;
                            } else {
                                return '';
                            }
                        }
                    }
                ]
            });
        });

        /**
         * 通过表单
         * @@param name
         */
        function pass(_data) {
            var conf = confirm('正在施工中...');
            return;
            if (!conf) return;
            $.ajax({
                url: "@Url.Action("Pass")",
                data: { id: _data },
            method: 'post',
            success: function (data) {
                alert(data.message);
                $('#example').bootstrapTable('refresh');
                //console.log("成功" + data);
            }
        });
        }

    </script>
}