
@{
    ViewBag.Title = "Users";
}
<div id="toolbar">
    <div class="form-inline" role="form">
        <div class="form-group">
            <a class="btn btn-sm btn-primary" href="@Url.Action("Edit")">创建新用户</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <table id="example" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>用户帐号</th>
                <th>名称</th>
                <th>角色</th>
                <th>创建日期</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody></tbody>
        <!-- tbody是必须的 -->
    </table>
</div>


@section scripts{

    <script>
        var table;
        var editFlag = false;
        var role = ["经费用户", "审批人员", "财务人员"];
        $(function () {
            table = $('#example').bootstrapTable({
                url:'@Url.Action("TableData")',
                method:'post',
                search: true,
                searchAlign: 'right',
                sidePagination: 'client',
                pagination: true,
                checkboxHeader: true,
                toolbar: '#toolbar',
                columns: [
                    {
                        field:'ID'
                    }, {
                        field: 'Name'
                    }, {
                        field: 'Role',
                        formatter: function (value, full, index) {
                            return role[value];
                        }
                    }, {
                        field: 'CreateDate',
                        formatter: function (value, full, index) {
                            //后台返回的日期格式为/Date(1552197204000)/
                            //所以在显示的时候需要处理一下

                            //过滤空字符的可能
                            if (!value) return "";

                            var reg = /\d+/g;
                            var _t = value.match(reg)[0];
                            var date = new Date(parseInt(_t));
                            return date.format('yyyy-MM-dd');
                        }
                    }, {
                        field: 'Disabled',
                        formatter: function (value, full, index) {
                            if (value) {
                                return '停用';
                            } else {
                                return '正常';
                            }
                        }
                    }, {
                        field: 'ID',
                        formatter: function (value, full, index) {
                            value = value.trim();
                            
                            var op = [
                                "<a class='btn btn-sm btn-primary' href='@(Url.Action("edit"))?id=" + escape(value) + "'>修改</a>",
                                "&nbsp;",
                                "<button type='button' class='btn btn-sm btn-danger' onclick='deluser(\"" + value + "\")'>删除</button>"
                            ].join('');
                            return op;
                        }
                    }
                ]
            });
        });

        function OpenModal(modal) {

            if (modal == 'create') {
                $("#edit").attr('action', '@Url.Action("CreateUser")').resetForm();
                $("#edit [name='Account']").attr('readonly', null);
            } else {
                $("#edit").attr('action', '@Url.Action("EditUser")');
                $("#edit [name='Account']").attr('readonly', '');
            }

            $("#myModal").modal('show');
        }

        /**
         * 异步创建用户
         **/
        function CreateUser() {

            $("#edit").ajaxSubmit({
                //url:'@Url.Action("CreateUser")',
                type:'post',
                success: function (data) {
                    if (data && data.success) {
                        $("#myModal").modal('hide');
                        table.bootstrapTable('refresh')
                    } else {
                        alert(data.message);
                    }
                },
                error: function (a, b, c) {
                    console.log(a);
                    console.log(b);
                    console.log(c);
                }
            });
        }

        /**
         *编辑方法
         **/
        function edit(index) {
            var form = $("#edit");
            var full = table.bootstrapTable('getData')[index];//获取表格的所有内容行
            form.find('[name=Account]').val(full.Account);
            form.find('[name=CreateTime]').val(full.CreateTime);
            form.find('[name=EMail]').val(full.EMail);
            form.find('[name=Name]').val(full.Name);
            form.find('[name=Password]').val(full.Password);
            form.find('[name=RoleType]').val(full.RoleType);
            form.find('[name=Status]').val(full.Status);
            //$("#myModal").modal("show");
            OpenModal('edit');
        }

        /**
         * 删除数据
         * @@param name
         */
        function deluser(_data) {
            var conf = confirm('确定删除此用户吗?');
            if (!conf) return; 
            $.ajax({
                url: "@Url.Action("DelUser", "Treasury")",
                data: { Account:_data},
                success: function (data) {
                    alert(data.message);
                    $('#example').bootstrapTable('refresh');
                    //console.log("成功" + data);
                }
            });
        }
    </script>
}
