@using WFS.Models
@model List<Deptment>
@{
    ViewBag.Title = "用户信息管理";

}
<style>
    .list-group-item a+a{
        margin-left:5px;
    }

    #dept-list li.active *{
        color:white;
    }
</style>
<div class="row" style="margin-left: 0;">
    <div class="col-md-3 bg-blue" style="padding-right:0px;padding-left:0px;">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                部门列表
                <a href="@(Url.Action("EditDept"))" class="btn btn-xs btn-link ">创建新部门</a>
                @*<a href="javascript:;" class="btn btn-xs btn-link " onclick="ShowAllUsers()">所有用户</a>*@
            </div>
            <!--部门列表-->
            <ul class="list-group" id="dept-list">
                <li class="list-group-item active" data-id="">
                    <a href="javascript:;" class="loadusers">所有部门</a>
                </li>
                
                @foreach (Deptment dept in Model) {
                <li class="list-group-item" data-id="@dept.Id">
                    <a href="javascript:;" class="loadusers">@dept.Name</a>
                    <a href="javascript:;" class="pull-right text-warning edit">修改</a>
                    <a href="javascript:;" class="pull-right text-danger delete">删除</a>
                </li>
            }
            </ul>
        </div>
    </div>
    <div class="col-md-9" style="padding-left:0px;">
        <div id="toolbar">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <a class="btn btn-sm btn-primary" href="@Url.Action("Edit")">创建新用户</a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <table id="example" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>用户帐号</th>
                        <th>名称</th>
                        <th>角色</th>
                        <th>创建日期</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <!-- tbody是必须的 -->
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var table;
        var editFlag = false;
        var role = ["普通用户", "审核人员", "财务人员", "校长","部门主任"];
        $(function () {
            //部门->点击加载用户
            $('#dept-list').on('click', 'a.loadusers', function () {
                //console.log(this);
                $('#dept-list li').removeClass("active");
                $(this).parents('li').addClass('active');
                var id = this.parentElement.getAttribute('data-id');
                $("#example").bootstrapTable('refresh', { query: { DeptId: id } });
            }).on('click', 'a.edit', function () {
                //console.log("修改部门");
                var id = this.parentElement.getAttribute('data-id');
                window.location.href = "@(Url.Action("EditDept"))?id=" + id; 
            }).on('click', 'a.delete', function () {
                //console.log("删除部门");
                var id = this.parentElement.getAttribute('data-id');
                if (confirm("确定删除此部门?")) {
                    $.get("@Url.Action("DeleteDept")?id=" + id, function (data, status) {
                        alert(data.message);
                        if (data.success) {
                            window.location.reload();
                        }
                    });
                }
            });

            table = $('#example').bootstrapTable({
                url:'@Url.Action("TableData")',
                method:'post',
                search: true,
                searchAlign: 'right',
                sidePagination: 'client',
                pagination: true,
                checkboxHeader: true,
                toolbar: '#toolbar',
                queryParams: function queryParams(params) {
                    params.DeptId = 8;
                    return params;
                },
                columns: [
                    {
                        field:'ID'
                    }, {
                        field: 'Name'
                    }, {
                        field: 'Role',
                        formatter: function (value, full, index) {
                            return role[value];
                        }
                    }, {
                        field: 'CreateDate',
                        formatter: function (value, full, index) {
                            //后台返回的日期格式为/Date(1552197204000)/
                            //所以在显示的时候需要处理一下

                            //过滤空字符的可能
                            if (!value) return "";

                            var reg = /\d+/g;
                            var _t = value.match(reg)[0];
                            var date = new Date(parseInt(_t));
                            return date.format('yyyy-MM-dd');
                        }
                    }, {
                        field: 'Disabled',
                        formatter: function (value, full, index) {
                            if (value) {
                                return '停用';
                            } else {
                                return '正常';
                            }
                        }
                    }, {
                        field: 'ID',
                        formatter: function (value, full, index) {
                            value = value.trim();

                            var op = [
                                "<a class='btn btn-sm btn-primary' href='@(Url.Action("edit"))?id=" + escape(value) + "'>修改</a>",
                                "&nbsp;",
                                "<button type='button' class='btn btn-sm btn-danger' onclick='deluser(\"" + value + "\")'>删除</button>"
                            ].join('');
                            return op;
                        }
                    }
                ]
            });
        });


        /**
         * 删除数据
         * @@param name
         */
        function deluser(_data) {
            var conf = confirm('确定删除此用户吗?');
            if (!conf) return;
            $.ajax({
                url: "@Url.Action("Delete", "Treasury")",
                data: { id: _data },
                method:'post',
                success: function (data) {
                    alert(data.message);
                    $('#example').bootstrapTable('refresh');
                    //console.log("成功" + data);
                }
            });
        }

        function ShowAllUsers() {
            $("#example").bootstrapTable('refresh', { query: { DeptId: '' } });
        }
    </script>
}
