@model WFS.Models.FormPrintModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>打印</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/JsBarcode.all.min.js"></script>
    <style>
        body, html{
            height:100%;
            font-size:14px;
        }

        body{
            padding:16px;
        }

        tr, td{
            padding:8px 16px;
        }
    </style>
</head>
<body>
    <table style="width:100%;">
        <tr style="border-bottom:2px outset #808080;">
            <td colspan="3">
                <h3 class="text-center">Middle School</h3>
            </td>
        </tr>
        <tr>
            <td class="text-center"><h4><strong>预算单</strong></h4></td>
            <td></td>
            <td class="text-center"><svg id="svgcode"></svg> </td>
        </tr>
        <tr>
            <td class="text-center"><h4><strong>部门：</strong>@Model.DeptName</h4></td>
            <td class="text-center"><h4><strong>申请人：</strong>@Model.User</h4></td>
            <td class="text-center"><h4><strong>凭证日期：</strong>@Model.Date</h4></td>
        </tr>
        <tr>
            <td colspan="3" style="border-top: 1px solid;border-bottom: 1px solid;"><strong>标题:</strong>@Model.Title</td>
        </tr>
        <tr><strong></strong>
            <td colspan="3" style="border-top: 1px solid;"><strong>详情:</strong></td>
        </tr>
        <tr>
            <td colspan="3" style="border-bottom: 1px solid;">@Model.Content</td>
        </tr>
        <tr style="border-top: 1px solid;border-bottom: 1px solid;">
            <td colspan="2"><strong>金额(大写):</strong>人民币 @Model.CostChinese</td>
            <td colspan="1"><strong>金额(小写):</strong>RMB @Model.Cost</td>
        </tr>
        <tr>
            <td><strong>审核情况</strong></td>
        </tr>
        <tr>
            <td colspan="3" style="padding:0 16px;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>部门主任</th>
                            <th>审核部门</th>
                            <th>校长</th>
                            <th>财务</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.Raw(Model.P1)</td>
                            <td>@Html.Raw(Model.P2)</td>
                            <td>@Html.Raw(Model.P3)</td>
                            <td>@Html.Raw(Model.P4)</td>
                        </tr>
                    </tbody>

                </table>
            </td>
        </tr>
    </table>
    <script>
        $(function () {
            $("#svgcode").JsBarcode("@Model.ID", {
                height:'30px'
            });
        });
    </script>
</body>
</html>
