<!--
    这是申请表单的详情视图
    审核员查看的详情与财务查看的表单详情共用
-->
@using WFS.Models
@model FormEntity
@{
    //UserEntity Assessor = null;//审批人
    UserEntity Proposer = null;//申请人
    string bankinfo1 = string.Empty;
    string bankinfo2 = string.Empty;
    if (Model != null)
    {
        using (var db = new WFSContext())
        {
            //审批人
            //Assessor = db.Users.FirstOrDefault(x => x.ID.Equals(Model.PasswordBy, StringComparison.OrdinalIgnoreCase));

            //申请人
            Proposer = db.Users.FirstOrDefault(x => x.ID.Equals(Model.CreateBy, StringComparison.OrdinalIgnoreCase));
            bankinfo1 = (Proposer.BankName ?? "").Trim() + " , " + (Proposer.BankAccount ?? "").Trim();
            bankinfo2 = (Proposer.BankProvice ?? "").Trim() + " , "
                + (Proposer.BankCity ?? "").Trim() + " , "
                + (Proposer.BankCity2 ?? "").Trim() + " , "
                + (Proposer.BankSubName ?? "").Trim();
        }
    }
}

<div class="form-group">
    <label class="control-label col-md-2">单号</label>
    <div class="col-md-10">
        @Html.HiddenFor(m => m.ID)
        @if (Model != null)
            {
            <label class="control-label">@Model.ID</label>
        }
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">类型</label>
    <div class="col-md-10">
        @Html.EnumDropDownListFor(x => x.Type, new { @class = "form-control max-width-280", @readonly = "readonly" })
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">标题</label>
    <div class="col-md-10">
        <label class="control-label">@Model.Title</label>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">内容</label>
    <div class="col-md-10">
        <label class="control-label">@Model.Content</label>

    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">金额</label>
    <div class="col-md-10">
        <label class="control-label">@Model.Cost</label>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">附件</label>
    <div class="col-md-10">
        <a href="@(Url.Action("DownLoad", "Proposer", new { fid = Model.FileId }))" target="_blank">@Model.FileName</a>
    </div>
</div>
@*@if (Assessor != null)
{
    <div class="form-group">
        <label class="control-label col-md-2">审批人</label>
        <div class="col-md-10">
            <label class="control-label">@Assessor.Name.Trim()</label>
        </div>
    </div>
}*@

@if (Proposer != null)
{
    <div class="form-group">
        <label class="control-label col-md-2">申请人</label>
        <div class="col-md-10">
            <label class="control-label">@Proposer.Name.Trim()</label>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">银行帐号</label>
        <div class="col-md-10">
            <label class="control-label">@(bankinfo1)</label>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">开户行</label>
        <div class="col-md-10">
            <label class="control-label">@(bankinfo2)</label>
        </div>
    </div>
}
